[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
knack = "*"
requests = "*"
bs4 = "*"
ebooklib = "*"
jinja2 = "*"
markdown = "<3.4"
markdown-full-yaml-metadata = "*"
lxml = "*"
tomli = "*"
pydantic = "*"

[dev-packages]
invoke = "*"
check-wheel-contents = "*"

[requires]
python_version = "3.10"
